[Unit]
Description=Audioviz
After=network.target audio.target

[Service]
ExecStart=/home/moritz/audioviz/audioviz/run.sh
WorkingDirectory=/home/moritz/audioviz/audioviz/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
