[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
numpy = "*"
pyalsaaudio = "*"
librosa = "*"
"pyqt5" = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.7"
