[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colour = "*"
scipy = "*"
numpy = "*"
pyalsaaudio = "*"
librosa = "*"
"pyqt5" = "*"

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.6"
