[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colour = "*"
scipy = "*"
numpy = "*"
pyalsaaudio = "*"
librosa = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
