[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyalsaaudio = "*"
airpixel = {editable = true, path = "./../../airpixel"}

[dev-packages]
pytest = "*"
mypy = "*"
ipython = "*"
matplotlib = "*"
"pyqt5" = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
