[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyalsaaudio = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
ipython = "*"
matplotlib = "*"
"pyqt5" = "*"

[requires]
python_version = "3.7"
